.mobile-toolbar
    .mobile-toolbar__container
        .mobile-toolbar__close

        .mobile-toolbar__block
            .mobile-toolbar__title.muller Меню
            .mobile-toolbar__menu.toolbar-menu.muller#toolbar-menu

        .mobile-toolbar__block
            .mobile-toolbar__title.muller Контакты
            .mobile-toolbar__contacts.toolbar-contacts
                .toolbar-contacts__block.toolbar-contacts__block_call
                    .toolbar-contacts__title.muller Звоните
                    .toolbar-contacts__item
                        .toolbar-contacts__img
                            svg.toolbar-contacts__img-allsoc
                                use(href="assets/images/sprites/svg-symbols.svg#svg_allsoc")
                        a.toolbar-contacts__text(href="tel:+9107483037") +7 910 748 30 37
                    .toolbar-contacts__item
                        .toolbar-contacts__img
                            svg.toolbar-contacts__img-phone
                                use(href="assets/images/sprites/svg-symbols.svg#svg_phone")
                        a.toolbar-contacts__text(href="tel:+74997050294") +7 499 705 02 94

                .toolbar-contacts__block.toolbar-contacts__block_write
                    .toolbar-contacts__title.muller Пишите
                    .toolbar-contacts__item
                        .toolbar-contacts__img
                            svg.toolbar-contacts__img-mail
                                use(href="assets/images/sprites/svg-symbols.svg#svg_mail")
                        a.toolbar-contacts__text.toolbar-contacts__text_red(href="mailto:info@unicontent.ru") info@unicontent.ru
                    .toolbar-contacts__item
                        .toolbar-contacts__img
                            svg.toolbar-contacts__img-time
                                use(href="assets/images/sprites/svg-symbols.svg#svg_time")
                        .toolbar-contacts__text Ежедневно, с 9:00 до 18:00

    .mobile-toolbar__list
        button.mobile-toolbar__item
            svg.mobile-toolbar__icon.mobile-toolbar__icon_burger
                use(href="assets/images/sprites/svg-symbols.svg#svg_burger")
        button.mobile-toolbar__item
            svg.mobile-toolbar__icon.mobile-toolbar__icon_mobile
                use(href="assets/images/sprites/svg-symbols.svg#svg_contacts")
        button.mobile-toolbar__button.button Заказать
