.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-ml-1,
.col-ml-2,
.col-ml-3,
.col-ml-4,
.col-ml-5,
.col-ml-6,
.col-ml-7,
.col-ml-8,
.col-ml-9,
.col-ml-10,
.col-ml-11,
.col-ml-12,
.col-ml,
.col-ml-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.container,
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-table {
  display: table;
}

.d-table-row {
  display: table-row;
}

.d-table-cell {
  display: table-cell;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.offset-0 {
  margin-left: 0;
}

.col-1 {
  flex: 0 0 8.333333333333332%;
  max-width: 8.333333333333332%;
}

.order-1 {
  order: 1;
}

.offset-1 {
  margin-left: 8.333333333333332%;
}

.col-2 {
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}

.order-2 {
  order: 2;
}

.offset-2 {
  margin-left: 16.666666666666664%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.order-3 {
  order: 3;
}

.offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}

.order-4 {
  order: 4;
}

.offset-4 {
  margin-left: 33.33333333333333%;
}

.col-5 {
  flex: 0 0 41.66666666666667%;
  max-width: 41.66666666666667%;
}

.order-5 {
  order: 5;
}

.offset-5 {
  margin-left: 41.66666666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.order-6 {
  order: 6;
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 58.333333333333336%;
  max-width: 58.333333333333336%;
}

.order-7 {
  order: 7;
}

.offset-7 {
  margin-left: 58.333333333333336%;
}

.col-8 {
  flex: 0 0 66.66666666666666%;
  max-width: 66.66666666666666%;
}

.order-8 {
  order: 8;
}

.offset-8 {
  margin-left: 66.66666666666666%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.order-9 {
  order: 9;
}

.offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 83.33333333333334%;
  max-width: 83.33333333333334%;
}

.order-10 {
  order: 10;
}

.offset-10 {
  margin-left: 83.33333333333334%;
}

.col-11 {
  flex: 0 0 91.66666666666666%;
  max-width: 91.66666666666666%;
}

.order-11 {
  order: 11;
}

.offset-11 {
  margin-left: 91.66666666666666%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-12 {
  order: 12;
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 610px;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-inline-block {
    display: inline-block;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-table {
    display: table;
  }

  .d-sm-table-row {
    display: table-row;
  }

  .d-sm-table-cell {
    display: table-cell;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline-flex {
    display: inline-flex;
  }

  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .col-sm-1 {
    flex: 0 0 8.333333333333332%;
    max-width: 8.333333333333332%;
  }

  .order-sm-1 {
    order: 1;
  }

  .offset-sm-1 {
    margin-left: 8.333333333333332%;
  }

  .col-sm-2 {
    flex: 0 0 16.666666666666664%;
    max-width: 16.666666666666664%;
  }

  .order-sm-2 {
    order: 2;
  }

  .offset-sm-2 {
    margin-left: 16.666666666666664%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .order-sm-3 {
    order: 3;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .order-sm-4 {
    order: 4;
  }

  .offset-sm-4 {
    margin-left: 33.33333333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .order-sm-5 {
    order: 5;
  }

  .offset-sm-5 {
    margin-left: 41.66666666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .order-sm-6 {
    order: 6;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  .order-sm-7 {
    order: 7;
  }

  .offset-sm-7 {
    margin-left: 58.333333333333336%;
  }

  .col-sm-8 {
    flex: 0 0 66.66666666666666%;
    max-width: 66.66666666666666%;
  }

  .order-sm-8 {
    order: 8;
  }

  .offset-sm-8 {
    margin-left: 66.66666666666666%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .order-sm-9 {
    order: 9;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  .order-sm-10 {
    order: 10;
  }

  .offset-sm-10 {
    margin-left: 83.33333333333334%;
  }

  .col-sm-11 {
    flex: 0 0 91.66666666666666%;
    max-width: 91.66666666666666%;
  }

  .order-sm-11 {
    order: 11;
  }

  .offset-sm-11 {
    margin-left: 91.66666666666666%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-12 {
    order: 12;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    max-width: 900px;
  }

  .d-md-none {
    display: none;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-block {
    display: block;
  }

  .d-md-table {
    display: table;
  }

  .d-md-table-row {
    display: table-row;
  }

  .d-md-table-cell {
    display: table-cell;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline-flex {
    display: inline-flex;
  }

  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .col-md-1 {
    flex: 0 0 8.333333333333332%;
    max-width: 8.333333333333332%;
  }

  .order-md-1 {
    order: 1;
  }

  .offset-md-1 {
    margin-left: 8.333333333333332%;
  }

  .col-md-2 {
    flex: 0 0 16.666666666666664%;
    max-width: 16.666666666666664%;
  }

  .order-md-2 {
    order: 2;
  }

  .offset-md-2 {
    margin-left: 16.666666666666664%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .order-md-3 {
    order: 3;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .order-md-4 {
    order: 4;
  }

  .offset-md-4 {
    margin-left: 33.33333333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .order-md-5 {
    order: 5;
  }

  .offset-md-5 {
    margin-left: 41.66666666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .order-md-6 {
    order: 6;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  .order-md-7 {
    order: 7;
  }

  .offset-md-7 {
    margin-left: 58.333333333333336%;
  }

  .col-md-8 {
    flex: 0 0 66.66666666666666%;
    max-width: 66.66666666666666%;
  }

  .order-md-8 {
    order: 8;
  }

  .offset-md-8 {
    margin-left: 66.66666666666666%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .order-md-9 {
    order: 9;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  .order-md-10 {
    order: 10;
  }

  .offset-md-10 {
    margin-left: 83.33333333333334%;
  }

  .col-md-11 {
    flex: 0 0 91.66666666666666%;
    max-width: 91.66666666666666%;
  }

  .order-md-11 {
    order: 11;
  }

  .offset-md-11 {
    margin-left: 91.66666666666666%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-12 {
    order: 12;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1220px;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-table {
    display: table;
  }

  .d-lg-table-row {
    display: table-row;
  }

  .d-lg-table-cell {
    display: table-cell;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline-flex {
    display: inline-flex;
  }

  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .col-lg-1 {
    flex: 0 0 8.333333333333332%;
    max-width: 8.333333333333332%;
  }

  .order-lg-1 {
    order: 1;
  }

  .offset-lg-1 {
    margin-left: 8.333333333333332%;
  }

  .col-lg-2 {
    flex: 0 0 16.666666666666664%;
    max-width: 16.666666666666664%;
  }

  .order-lg-2 {
    order: 2;
  }

  .offset-lg-2 {
    margin-left: 16.666666666666664%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .order-lg-3 {
    order: 3;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
  }

  .order-lg-4 {
    order: 4;
  }

  .offset-lg-4 {
    margin-left: 33.33333333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .order-lg-5 {
    order: 5;
  }

  .offset-lg-5 {
    margin-left: 41.66666666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .order-lg-6 {
    order: 6;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333333333336%;
    max-width: 58.333333333333336%;
  }

  .order-lg-7 {
    order: 7;
  }

  .offset-lg-7 {
    margin-left: 58.333333333333336%;
  }

  .col-lg-8 {
    flex: 0 0 66.66666666666666%;
    max-width: 66.66666666666666%;
  }

  .order-lg-8 {
    order: 8;
  }

  .offset-lg-8 {
    margin-left: 66.66666666666666%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .order-lg-9 {
    order: 9;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
  }

  .order-lg-10 {
    order: 10;
  }

  .offset-lg-10 {
    margin-left: 83.33333333333334%;
  }

  .col-lg-11 {
    flex: 0 0 91.66666666666666%;
    max-width: 91.66666666666666%;
  }

  .order-lg-11 {
    order: 11;
  }

  .offset-lg-11 {
    margin-left: 91.66666666666666%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-12 {
    order: 12;
  }
}

@media only screen and (min-width: 1600px) {
  .container,
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row {
    margin-right: -20px;
    margin-left: -20px;
  }

  .container {
    max-width: 1540px;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-inline {
    display: inline;
  }

  .d-xl-inline-block {
    display: inline-block;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-table {
    display: table;
  }

  .d-xl-table-row {
    display: table-row;
  }

  .d-xl-table-cell {
    display: table-cell;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-inline-flex {
    display: inline-flex;
  }

  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .col-xl-1 {
    flex: 0 0 8.333333333333332%;
    max-width: 8.333333333333332%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-1 {
    order: 1;
  }

  .offset-xl-1 {
    margin-left: 8.333333333333332%;
  }

  .col-xl-2 {
    flex: 0 0 16.666666666666664%;
    max-width: 16.666666666666664%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-2 {
    order: 2;
  }

  .offset-xl-2 {
    margin-left: 16.666666666666664%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-3 {
    order: 3;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-4 {
    order: 4;
  }

  .offset-xl-4 {
    margin-left: 33.33333333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-5 {
    order: 5;
  }

  .offset-xl-5 {
    margin-left: 41.66666666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-6 {
    order: 6;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333333333336%;
    max-width: 58.333333333333336%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-7 {
    order: 7;
  }

  .offset-xl-7 {
    margin-left: 58.333333333333336%;
  }

  .col-xl-8 {
    flex: 0 0 66.66666666666666%;
    max-width: 66.66666666666666%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-8 {
    order: 8;
  }

  .offset-xl-8 {
    margin-left: 66.66666666666666%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-9 {
    order: 9;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-10 {
    order: 10;
  }

  .offset-xl-10 {
    margin-left: 83.33333333333334%;
  }

  .col-xl-11 {
    flex: 0 0 91.66666666666666%;
    max-width: 91.66666666666666%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-11 {
    order: 11;
  }

  .offset-xl-11 {
    margin-left: 91.66666666666666%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .order-xl-12 {
    order: 12;
  }
}

@media only screen and (min-width: 1920px) {
  .container,
  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }

  .row {
    margin-right: -25px;
    margin-left: -25px;
  }

  .container {
    max-width: 1840px;
  }

  .d-ml-none {
    display: none;
  }

  .d-ml-inline {
    display: inline;
  }

  .d-ml-inline-block {
    display: inline-block;
  }

  .d-ml-block {
    display: block;
  }

  .d-ml-table {
    display: table;
  }

  .d-ml-table-row {
    display: table-row;
  }

  .d-ml-table-cell {
    display: table-cell;
  }

  .d-ml-flex {
    display: flex;
  }

  .d-ml-inline-flex {
    display: inline-flex;
  }

  .col-ml {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .col-ml-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-first {
    order: -1;
  }

  .order-ml-last {
    order: 13;
  }

  .offset-ml-0 {
    margin-left: 0;
  }

  .col-ml-1 {
    flex: 0 0 8.333333333333332%;
    max-width: 8.333333333333332%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-1 {
    order: 1;
  }

  .offset-ml-1 {
    margin-left: 8.333333333333332%;
  }

  .col-ml-2 {
    flex: 0 0 16.666666666666664%;
    max-width: 16.666666666666664%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-2 {
    order: 2;
  }

  .offset-ml-2 {
    margin-left: 16.666666666666664%;
  }

  .col-ml-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-3 {
    order: 3;
  }

  .offset-ml-3 {
    margin-left: 25%;
  }

  .col-ml-4 {
    flex: 0 0 33.33333333333333%;
    max-width: 33.33333333333333%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-4 {
    order: 4;
  }

  .offset-ml-4 {
    margin-left: 33.33333333333333%;
  }

  .col-ml-5 {
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-5 {
    order: 5;
  }

  .offset-ml-5 {
    margin-left: 41.66666666666667%;
  }

  .col-ml-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-6 {
    order: 6;
  }

  .offset-ml-6 {
    margin-left: 50%;
  }

  .col-ml-7 {
    flex: 0 0 58.333333333333336%;
    max-width: 58.333333333333336%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-7 {
    order: 7;
  }

  .offset-ml-7 {
    margin-left: 58.333333333333336%;
  }

  .col-ml-8 {
    flex: 0 0 66.66666666666666%;
    max-width: 66.66666666666666%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-8 {
    order: 8;
  }

  .offset-ml-8 {
    margin-left: 66.66666666666666%;
  }

  .col-ml-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-9 {
    order: 9;
  }

  .offset-ml-9 {
    margin-left: 75%;
  }

  .col-ml-10 {
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-10 {
    order: 10;
  }

  .offset-ml-10 {
    margin-left: 83.33333333333334%;
  }

  .col-ml-11 {
    flex: 0 0 91.66666666666666%;
    max-width: 91.66666666666666%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-11 {
    order: 11;
  }

  .offset-ml-11 {
    margin-left: 91.66666666666666%;
  }

  .col-ml-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .order-ml-12 {
    order: 12;
  }
}