$fonts = {
    body: {
        name: 'Open Sans',
    },
    rouble: {
        name: 'PT Rouble Sans',
        options: ({
            path: 'PTRoubleSans/PTRoubleSans',
            weight: 400,
            style: normal
        })
    },
    header: {
        name: 'Open Sans',
    },
}

$font-size = {
    body: 14px n n n 16px n,
    h1: 23px 47px n n 62px n,
    h2: 21px 30px n n 46px n,
    other-headers: 16px n n n 18px n,
}

for key, font in $fonts
    _name = font[name]

    if options in font
        if path in font[options]  // if length options = 1
            mx-font-face(_name, font[options].path, font[options].weight, font[options].style)
        else
            for option in font[options]
                mx-font-face(_name, option.path, option.weight, option.style)

.fonts-loaded
    body
        font-family: $fonts.body.name
    .rouble
        font-family: "Tahoma", sans-serif
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6
        font-family: $fonts.header.name

.h1
    set('font-size', $font-size.h1)
.h2
    set('font-size', $font-size.h2)
.h3, .h4, .h5, .h6
    set('font-size', $font-size.other-headers)
body
    set('font-size', $font-size.body)
