extends ../../includes/root

prepend head
    - var title = '';

append head
    link(rel="preload" as="style" href="assets/css/index.css" onload="this.rel='stylesheet'")

block content
    main.container-fluid

append scripts
    script(src="")
