extends ../../app/app

prepend head
    - var title = '';

append head
    link(rel="preload" as="style" href="assets/css/index.css" onload="this.rel='stylesheet'")

block content
    main.container-fluid
        div
            a(class="link" href="ask.html" data-modal="ask") AskForm
        div
            a(class="link" href="kek.html" data-modal="callback") CallbackForm
        div
            a(class="link" href="kek2.html" data-modal="kek2") Загрузка с сервера2
        div
            a(class="link" href="kek1.html" data-modal="kek1") Загрузка с сервера1

append scripts
    script(src="")
