extends ../root.pug

prepend head
    - var title = '';

append head
    link(rel="stylesheet" href="css/index.css")


block content
    div.index
        .container-fluid
            .row
                .col-2.outer-block
                    .inner-block 1
                .col-2.outer-block
                    .inner-block 2
                .col-2.outer-block
                    .inner-block 3
                .col-2.outer-block
                    .inner-block 4
                .col-2.outer-block
                    .inner-block 5
                .col-2.outer-block
                    .inner-block 6
