@import "css/googleFonts.css"
@import "css/bootstrap.css"

@import "global/vendor.styl"    // import *.css from node_modules
@import "settings/tools.styl"   // import settings/* (rupture, mixins), variable and mixins for this project

// basic styles
@import "global/base.styl"
@import "global/modal.styl"

@import "global/header.styl"
@import "global/footer.styl"
