form.modal-form(method="post")
    .modal-form__container
        .modal-form__title.title Вам перезвонить?
        .modal-form__row
            .modal-form__text.
                Оставьте свой телефон и мы обязательно перезвоним Вам в течение 5-10 минут.
        .modal-form__row
            label.modal-form__label ФИО:
                input.modal-form__input(name="name")
        .modal-form__row
            label.modal-form__label Телефон:
                input.modal-form__input(name="phone")
        .modal-form__row
            button.modal-form__button.button.form__button(type="submit") Отправить
