.breadcrumb
    font-size 10px
    +above(xl)
        font-size 12px
    &__list
        list-style-type none
        margin 0
    &__item
        display inline
    &__slash
        padding-left 4px
        color #5DA1C0
    &__span
        color #5DA1C0
    &__link
        color #BAF5E0
