// scroll-lock
body.modal-open
    overflow hidden

.modal-open .overlay
    overflow-y auto

.overlay
    visibility hidden
    position fixed
    top 0
    left 0
    size 100%
    opacity 0
    z-index 3000
    transition all 0.3s
    background rgba(196,196,196,0.5)
    &__modal
        min-height 100%
        display flex
        align-items center
        justify-content center

.modal
    position relative
    visibility hidden
    size 100% auto
    outline none
    max-width 672px
    background-color #FFFFFF
    box-shadow 0 0 41px rgba(#000, 0.5)

    &__close
        z-index 100
        mx-cross(#E5E5E5, 2px, 15px)
        right 20px
        top 20px
        cursor pointer
        +above(sm)
            mx-cross(#E5E5E5, 2px, 34px)
    &__container
        padding 40px 30px
        +above(sm)
            padding 80px 50px

    &__title
        font-size 30px
        margin-bottom 30px

// animation
.overlay_show.overlay
    visibility visible
    opacity 1
    .modal
        visibility visible
