doctype html
html(lang="ru")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, height=device-height")
            title #{title}
            link(rel="preload" as="font" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&amp;display=swap" onload="this.rel='stylesheet'")
            link(rel="preload" as="font" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" onload="this.rel='stylesheet'")
            link(rel="stylesheet" href="assets/css/app.css?v=" + Math.floor(Math.random() * (1000 - 9999) + 9999))

    body
        block header
            a(href="kek.html" data-modal="test") Модалощка
            a(href="kek2.html" data-modal="test2") Модалощка2

        block content
            p nothing

        block footer
            #test
        block scripts
            #modal


            script(src="assets/js/polyfills.js?v=" + Math.floor(Math.random() * (1000 - 9999) + 9999))
            script(crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default,fetch")

            script(src="assets/js/vendors~app.js?v=" + Math.floor(Math.random() * (1000 - 9999) + 9999))
            script(src="assets/js/app.js?v=" + Math.floor(Math.random() * (1000 - 9999) + 9999))

