
$icon-facebook-width = 34px;
$icon-facebook-height = 34px;
$icon-googleplus-width = 34px;
$icon-googleplus-height = 34px;
$icon-twitter-width = 34px;
$icon-twitter-height = 34px;
$icon-vk-width = 34px;
$icon-vk-height = 34px;

.svg-facebook {
  width: $icon-facebook-width;
height: $icon-facebook-height;
}

.svg-googleplus {
  width: $icon-googleplus-width;
height: $icon-googleplus-height;
}

.svg-twitter {
  width: $icon-twitter-width;
height: $icon-twitter-height;
}

.svg-vk {
  width: $icon-vk-width;
height: $icon-vk-height;
}

