form.modal__form.form(method="post")
    .form__container
        .form__title Вам перезвонить?
        .form__row
            label.form__label ФИО:
                input.form__input(name="name")
        .form__row
            label.form__label Телефон:
                input.form__input(name="phone")
        button.form__button.button(type="submit") Отправить
