doctype html
html(lang="ru")
    head
        block head
            include templates/head.pug

    body
        block header
            include templates/header.pug

        block content
            p nothing

        block footer
            include templates/footer.pug

        block scripts
            include templates/append.pug
