@import "../../includes/styles/css/googleFonts.css"
@import "../../includes/styles/css/bootstrap.css"

@import "../../includes/styles/vendor.styl" // import *.css from node_modules
@import "../../includes/styles/settings/tools.styl" // import settings/* (rupture, mixins), variable and mixins for this project

// basic styles
@import "../../includes/styles/base/base.styl"
@import "../../includes/styles/base/button.styl"
@import "../../includes/styles/base/form.styl"
@import "../../includes/styles/base/link.styl"
@import "../../includes/styles/base/swiper.styl"
@import "../../includes/styles/base/table.styl"
@import "../../includes/styles/base/typography.styl"

// blocks
@import "../../blocks/_global/modal/modal.styl"