@require "../../../../node_modules/normalize.css/normalize.css"

$color-base = {
    font: #303030,
    background: #F7F7F7,
}

*
*:before
*:after
    box-sizing border-box

html, body
    position relative
    width 100%
    min-height 100vh
    padding 0
    margin 0 auto
    min-width 320px
    max-width 1920px

body
    display flex
    flex-direction column
    justify-content space-between

    background-color: $color-base.background
    color: $color-base.font
    font-family sans-serif
    set('font-size', $font-size.body)

main
    flex-grow 1

img
    width 100%

.img-responsive
    display block
    width auto!important
    max-width 100%

.reverse
    transform rotate(180deg)
