$color-button = {
    default: {
        font: #fff,
        background: rgb(212,75,56),
    },
    hover: {
        font: #fff,
        background: rgb(232,95,76),
    },
    active: {
        font: #fff,
        background: rgb(152,15,0),
    },
    disabled: {
        font: #D6D6D6,
        background: #B9B9B9,
    },
}


button
    border none
    outline none
    background-color transparent
    cursor pointer

.button
    background $color-button.default.background
    cursor pointer
    display inline-block
    color $color-button.default.font
    text-align center
    padding 10px 25px
    line-height normal
    &:hover
        color $color-button.hover.font
        background $color-button.hover.background
    &:active
        color $color-button.active.font
        background $color-button.active.background

.button[disabled]
    background $color-button.disabled.background
    color $color-button.disabled.font
    cursor default
